<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Bailan</title>

</head>
<body>
    <header>
        <div class="header-content">
            <h1>Bailan</h1>
        </div>
        <!--ช่องค้นหา-->
        <div class="search-container">
            <input id="search_by_name" type="text" placeholder="Search...">
            <button onclick="search_by_name()">Search</button>
        </div>
        <!--ตระกร้า -->
            <div class="cart-container">
                <a href="cart.html">
                    <div class="cart-frame">
                        Cart
                    </div>   
                </a>
            </div>
        </div>
    </header>
    
</body>
</html>